<?xml version="1.0"?>
<!--
/**
* Born_MopRestriction
*
* PHP version 7.*
*
* @category  PHP
* @package   Born_MopRestriction
* @author    Born Group <support@borngroup.com>
* @copyright 2022 Copyright Born Group, Inc. http://www.borngroup.com/
* @license   http://www.borngroup.com/ Private
* @link      http://www.borngroup.com/
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <router id="admin">
        <route id="moprestriction" frontName="moprestriction">
            <module name="Born_MopRestriction"/>
        </route>
    </router>
</config>
