<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @package   Born_SurpriseDrop
 * @author    Manish Bhojwani (Manish.Bhojwani@BornGroup.com)
 * @copyright 2022 Copyright Born Group, Inc. http://www.borngroup.com/
 * @license   http://www.borngroup.com/ Private
 * @link      http://www.borngroup.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_cart_add">
        <observer name="born_surprisedrop_checkout_cart_add"
                  instance="Born\SurpriseDrop\Observer\SurpriseDropRestrictAddToCart" />
    </event>
    <event name="checkout_cart_product_add_after">
        <observer name="born_surprisedrop_checkout_cart_product_add_after"
                  instance="Born\SurpriseDrop\Observer\SurpriseDropSaveToQuoteItem" />
    </event>
</config>
