<?xml version="1.0"?>
<!--
/**
 * @category  Born_BinPromotion
 * @author    Kavya Perudi <kavya.perudi@borngroup.com>
 * @copyright 2022 Copyright Born Group, Inc. http://www.borngroup.com/
 * @license   http://www.borngroup.com/ Private
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Born_BinPromotion::bin_promotions" 
            title="Manage Bin Numbers" 
            module="Born_BinPromotion" 
            sortOrder="40" 
            parent="Magento_CatalogRule::promo" 
            action="binpromotion/index/index" 
            resource="Born_BinPromotion::bin_promotions"/>
    </menu>
</config>
